.top-nav {
    position: fixed;
    width: 100%;
    padding: 10px 10px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    transition: top 0.75s ease-in;
    background-color: #2d3e50;
    z-index: 11;
  }
  .top-nav .menu {
    list-style: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-height: 0;
    transition: max-height 0.2s ease-out;
  }
  .top-nav .menu li a {
    display: inline-block;
    min-width: 75px;
    margin: 0.3em 0;
    padding: 0 10px;
    transition: 1s all;
    text-decoration: none;
    font-size: 20px;
  }
  .top-nav .menu li a:link, .top-nav .menu li a:visited {
    color: whitesmoke;
  }
  .top-nav .menu li a:focus, .top-nav .menu li a:hover, .top-nav .menu li a:active {
    transform: scale(1.1)
     /* rotate(-2deg) */
     ;
    color: #20232d;
  }
  .top-nav .logo {
    display: inline-block;
    /* width: 150px; */
  }
  .top-nav .menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
  }
  .top-nav .menu-icon .navicon {
    background: #20232d;
    display: block;
    height: 2px;
    position: relative;
    width: 1.625rem;
  }
  .top-nav .menu-icon .navicon:before, .top-nav .menu-icon .navicon:after {
    background: #20232d;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
  }
  .top-nav .menu-icon .navicon:before {
    top: 7px;
  }
  .top-nav .menu-icon .navicon:after {
    top: -7px;
  }
  .top-nav .menu-btn {
    display: none;
  }
  .top-nav .menu-btn:checked ~ .menu {
    max-height: 300px;
  }
  .top-nav .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  .top-nav .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  .top-nav .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  .top-nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before, .top-nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  @media (min-width: 840px) {
    .top-nav li {
      margin: 0 10px;
    }
  
    .top-nav .menu {
      width: auto;
      max-height: none;
      flex-direction: row;
    }
  
    .top-nav .menu-icon {
      display: none;
    }
  }
  *,
  html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    scroll-behavior: smooth;
  }
  
  header {
    background: linear-gradient(#9f67e8, #7171ea);
    width: 100%;
    height: 200vh;
  }
  
  .robotics_nav{
    color:whitesmoke
  }

  .logo:hover {
    transform: scale(1.01) ;
    text-decoration: none;
  }